<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
    <div id="app">
        <input type="text" v-model="name">
        
        <span v-show="name">你的名字是:{{1+1}}</span>
        <br>
        <input type="text" v-model="age">
        <span v-show="age">你的年龄是:{{age}}</span>
        <br>
        <input type="text" v-model="sex">
        <span v-show="sex">你的性别是:{{sex}}</span>
        <span v-if="sex">你的性别是:{{sex}}</span>
        <!-- if的话元素会被直接删除，show的话，是元素还在只是被隐藏了不显示而已 -->
    </div>
</body>
<script src="../lib/vue.2.4.2.js"></script>
<script src="./js/main.js"></script>
</html>